providers:
  - id: adx_marketing
    type: adx
    cluster_uri: https://help.kusto.windows.net
    database: Samples
    default_timeout_seconds: 60
    retry_attempts: 2
    credentials:
      type: managed_identity
      client_id: ${ADX_CLIENT_ID:}
  - id: postgres_reporting
    type: sql
    default_timeout_seconds: 45
    target:
      dsn: postgresql+asyncpg://${POSTGRES_USER:reporter}:${POSTGRES_PASSWORD:reportpw}@${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:reporting}
      options:
        application_name: queryhub
    credentials:
      type: username_password
      username: ${POSTGRES_USER:reporter}
      password: ${POSTGRES_PASSWORD:reportpw}
  - id: rest_weather
    type: rest
    base_url: https://api.open-meteo.com/v1/
    default_headers:
      Accept: application/json
    credentials:
      type: token
      token: ${WEATHER_API_TOKEN:demo-token}
      header_name: Authorization
      template: "Bearer {token}"
    request_options:
      raise_for_status: false
  - id: csv_local
    type: csv
    root_path: data
    delimiter: ","
